* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "a";
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #000;
}

@font-face {
  font-family: a;
  src: url(./Poppins-SemiBold.ttf);
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(./IN-en-20230724-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-size: fit;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  height: 100px;
  width: 188px;
  margin-top: -20px;
  margin-left: 30px;
  cursor: pointer;
}
.nav button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 15px;
  border-radius: 4px;
  margin-left: 18px;
  margin-top: -20px;
  cursor: pointer;
}

.nav button img {
  height: 6px;
  width: 9px;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 5px;
}

.nav lang-btn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 7px 10px;
}

#head-ctnt {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#head-ctnt h1 {
  font-size: 45px;
  font-weight: 900;
  margin-top: 30px;
  line-height: 70px;
}

#head-ctnt h3 {
  font-size: 25px;
  font-weight: 10;
  line-height: 55px;
}

#head-ctnt p {
  font-size: 20px;
  line-height: 55px;
}

.both {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group {
  position: relative;
  margin-right: 10px;
}

.input-group input {
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: 2px solid #fff;
  background-color: transparent;
  transition: outline-color 500ms;
}

.input-group input:is(:focus, :valid) {
  outline-color: #db0001;
}

.input-group__label {
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #ffffff78;
  transition: translate 500ms, scale 500ms;
}

.input-group input :focus + .input-group__label,
.input-group input:valid + .input-group__label {
  padding-inline: 5px;
  translate: 10px -14px;
  scale: 0.8;
  background: #000;
}

.email button {
  background-color: #db0001;
  border: none;
  outline: 2px solid white;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

.features {
  font-size: 22px;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.textcol {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.imgcol {
  flex-basis: 10%;
  margin-bottom: 20px;
  margin-top: 40px;
}

.imgcol img {
  display: block;
  height: 380px;
  width: 500px;
  margin: auto;
  position: relative;
}
.imgcol video {
  display: block;
  margin-top: 5px;
  margin-left: 66px;
  width: 364px;
  height: 355px;
  position: absolute;
}

.row h2 {
  font-size: 50px;
  font-weight: 900;
  margin-left: 50px;
  margin-top: 50px;
}

.row p {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 15px;
}
